@{
    ViewData["Title"] = "The Hospitality Group Demo";
}

<div class="text-center">
    <h1 class="display-4">Demonstration</h1>
    <p>This is a sample demonstrating how to play a <a class="" asp-area="" asp-controller="Player" asp-action="Index">Typsy Lesson</a> from the API can be embedded into a customer's website.</p>
    <p>By emedding the Typsy Content into the customer website the user does not need to leave the site to watch Typsy Content.</p>
    <p>This example demonstrates how a ficticious company, The Hospitality Group, plays a Typsy Lesson within their website or learning management system (LMS).</p>
</div>

